#loginDiv{
    background: rgba(0,0,0,.9);
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
#loginDiv .container{
    position: absolute;
    top:40vh;
    left:40vw;
    padding:0;
    width:20vw;
    height:initial;
    text-align: center;
}
#passwordNumber{
    width:20vw;
}
.row{
    padding-right:1em;
}
.visible-xs-block{
    margin-right:10px;
}